
.p--footer {
    color: #999;
    letter-spacing: 2px;
    margin: 20px;
    font-size: 9px;
    text-transform: uppercase;
}

.nav--footer button:first-child {
    color: var(--color-darkGray);
}

.nav--footer button {
    background-color: transparent;
    border: 1px solid var(--color-darkGray);
    color: #4b4a4a;
    font-size: 10px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
}