/* ----- header ----- */
header {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-darkGray);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

header div {
    display: flex;
    align-items: center;
}

header div p {
    color: #3c3b3b;
    border-right: 1px solid var(--color-darkGray);
    padding: 20px 40px;
    font-size: 14px;
    letter-spacing: 1px;
}

header div nav {
    display: flex;
}

header div nav a {
    color: var(--color-darkGrey);
    padding: 10px;
    font-size: 10px;
    letter-spacing: 1px;
    text-decoration: none;
}

header>nav {
    display: flex;
    align-items: center;
}

header>nav button {
    cursor: pointer;
    background-color: transparent;
    color: var(--color-darkGrey);
    border-left: 1px solid var(--color-darkGray);
    padding: 20px;
    font-size: 14px;
    text-decoration: none;
}

header div nav a:not(:first-child) {
    border-left: 1px solid var(--color-darkGray);
}