.div--link {
    margin: 20px;
    padding-bottom: 20px;    
    display: flex;
    align-items: center;
}

.ul--link li:not(:last-child) .div--link {
    border-bottom: 1px solid var(--color-darkGray);
}

.div--link img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
}

.div--link div p {
    color: #3c3b3b;
    font-size: 10px;
    padding: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
}