@media (width <=1024px) {
    header {
        flex-direction: column;
    }

    header p {
        text-align: center;
        border-bottom: 1px solid var(--color-darkGray);;
    }

    header div {}

    main {
        display: block;
        width: 100% !important;
        margin-top: 0px;
    }

    .div--topcard {
        text-align: center;
    }

    .div--super-card-header {
        flex-direction: column;
        text-align: center;
    }

    .div--super-card-header div:nth-child(1) {
        border-bottom: 1px solid var(--color-darkGray);;
    }

    .div--super-card-header div:nth-child(2) div {
        justify-content: center !important;
    }

}