:root {
    --color-white: #fff;
    --color-gray: #f4f4f4;
    --color-darkGray: #e5e5e5;
    --color-darkGrey: #999;
}

* {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--color-gray);
    font-family: helvetica;
}

img {
    height: 120px;
}

/* ----- header ----- */
header {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

header div {
    display: flex;
    align-items: center;
}

header div p {
    font-weight: bold;
    padding: 20px;
    font-size: 14px;
    border-right: 1px solid var(--color-darkGray);
}

header div nav {
    display: flex;
}

header div nav a {
    color: var(--color-darkGrey);
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
}

header>nav {
    display: flex;
    align-items: center;
}

header>nav button {
    cursor: pointer;
    background-color: transparent;
    color: var(--color-darkGrey);
    border-left: 1px solid var(--color-darkGray);
    padding: 20px;
    font-size: 14px;
    text-decoration: none;
}

header div nav a:not(:first-child) {
    border-left: 1px solid var(--color-darkGray);
}

/* ----- main ----- */
main {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

main aside {
    flex: 1;
    padding: 20px;
}

main section {
    flex: 2;
}

main section .div--super-card {
    background-color: var(--color-white);
    border: 1px solid var(--color-darkGray);
    margin-bottom: 40px;
}

.div--super-card-header {
    border-bottom: 1px solid var(--color-darkGray);
    display: flex;
}

.div--super-card-header>div {
    padding: 20px;
}

.div--super-card-header div:nth-child(1) {
    flex: 1;
    border-right: 1px solid var(--color-darkGray);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div--super-card-header div:nth-child(1) p:nth-child(1) {
    font-weight: bold;
}

.div--super-card-header div:nth-child(2) div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div--super-card-header div:nth-child(2) div img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.div--super-card-header div:nth-child(2)>p:nth-child(1) {
    font-weight: bold;
}

.div--super-card-header div:nth-child(2) a {
    color: var(--color-darkGrey);
    border-bottom: 1px dashed var(--color-darkGrey);
    text-decoration: none;
}

.div--super-card-content img {
    width: calc(100% - 40px);
    height: 200px;
    padding: 20px;
    object-fit: cover;
}

.div--super-card-content p {
    padding: 0px 20px;
}

.div--super-card-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.div--super-card-footer ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.div--super-card-footer ul li {
    padding: 10px;
    font-size: 12px;
}

.div--super-card-footer ul li a {
    color: var(--color-darkGrey);
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px dashed var(--color-darkGrey);
}

.div--super-card-footer button {
    background-color: transparent;
    border: 1px solid var(--color-darkGrey);
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.div--card {
    background-color: var(--color-white);
    border: 1px solid var(--color-darkGray);
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.div--card img {
    object-fit: cover;
}

/* ----- div--topcard ----- */

/* https://stackoverflow.com/questions/7433454/html-css-hexagon-with-image-inside */
.hexagone {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    height: 60px;
}

.div--topcard {
    margin: 10px;
}

.div--topcard p {
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 0px;
}

.div--topcard .p--title {
    font-size: 30px;
    font-weight: bold;
}

.div--card-title {
    display: flex;
    padding: 20px;
}

.div--card-title p {
    font-size: 14px;
}

.div--p-title {
    font-weight: bold;
}

.div--card-title div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.div--card-title img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.ul--link {
    border-top: 1px solid var(--color-darkGray);
    border-bottom: 1px solid var(--color-darkGray);
    list-style: none;
}

.div--link {
    display: flex;
    margin: 20px;
    padding-bottom: 20px;
}

.ul--link li:not(:last-child) .div--link {
    border-bottom: 1px solid var(--color-darkGray);
}

.div--link img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 10px;
}

.div--link div p {
    padding: 2px;
}

.div--p-link-title {
    font-weight: bold;
}

.div--about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-darkGray);
}

.div--about button {
    background-color: transparent;
    border: 1px solid var(--color-darkGrey);
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;

    cursor: pointer;
}

.p--about-title {
    font-weight: bold;
    text-transform: uppercase;
}

.nav--social {
    margin: 20px;

}

.nav--social a {
    color: var(--color-darkGrey);
    padding: 4px;
}

.p--footer {
    margin: 20px;
    font-size: 10px;
}

.nav--footer {}

.nav--footer button:first-child {
    color: var(--color-darkGray);
}

.nav--footer button {
    background-color: transparent;
    border: 1px solid var(--color-darkGrey);
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
}